src/bootstrap/cache/services.php


src/src/storage/app/*
src/src/storage/framework/cache/*
src/src/storage/framework/sessions/*
src/src/storage/framework/views/*
src/src/storage/logs/*

src/vendor/**/test*
src/vendor/**/tests*
src/vendor/**/Tests*

**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*


*.config.js
?ulpfile.js
?untfile.js
src/phpunit.xml
**README.md


Dockerfile
docker-compose.yml
