/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
    margin: 0 10px;
}

.options-container {
    display: flex;
    justify-content: center;
}

.form-container {
    max-width: 60%;
    margin: 0 10px;
    text-align: center;
}

.map-container {
    min-height: 20vh;
    margin: 0;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    width: 100vw;
    max-width: 100vw;
    color: #e0e0e0 !important;
}

a {
    text-decoration: none !important;
}

.navbar-toggler {
    position: absolute;
    left: 10px;
}

thead tr th:hover {
    cursor: pointer;
}

.nodes-section,
.defroster-section {
    visibility: collapse;
}

.span {
    width: 180px;
    min-width: 180px;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}

.input,
.input-checkbox {
    width: 180px;
    min-width: 180px;
    margin: 0 10px;
    text-align: center;
}

.input-checkbox-large {
    width: 540px;
    min-width: 540px;
    margin: 0 10px;
    text-align: center;
}

.input-checkbox-short {
    width: 60px;
    min-width: 60px;
    margin: 0 6px;
    text-align: center;
}

.input-checkbox {
    margin: auto 0;
}

.checkbox {
    width: 30px;
    min-width: 30px;
    margin: 0 6px;
    vertical-align: middle;
}

.checkbox-wide {
    width: 60px;
    min-width: 30px;
    margin: 0 6px;
    vertical-align: middle;
}

.select {
    text-align: center;
    text-align-last: center;
}

.select option {
    text-align: left;
}

.spinner-border {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

#extraData {
    max-width: 90%;
    max-height: 480px;
    overflow-y: scroll;
}

#extraData table th {
    position: sticky;
    top: 0;
    background: #e0e0e0;
}

[data-theme="dark"] {
    /*background-color: #111 !important;*/
    background-color: #222f38 !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Mobile devices */
@media only screen and (max-device-width: 760px) {

    .options-container {
        display: block;
        flex: initial;
        width: 100vw;
    }

    .map-container {
        display: block;
        flex: initial;
        height: 50vh;
        width: 100vw;
        max-width: 100vw;
        margin: 10px 0;
    }

    .form-container {
        display: block;
        flex: initial;
        width: 100vw;
        max-width: 100vw;
        margin: 0;
    }

    .map-form section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .span {
        flex-basis: 55%;
    }

    .input,
    .input-checkbox {
        width: 45%;
        min-width: 156px;
        margin: 0 auto;
        flex-basis: 45%;
    }

    .checkbox {
        width: 15px;
        min-width: 15px;
        margin: 0 10px;
    }

    .chart {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .chart svg {
        overflow: scroll;
    }
}